/* main.scss */

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

h1 {
  font-weight: 300;
  margin: 0 0 .675em 0;
  font-size: 2.4em;
  color:#828282;
}
code {
  color: #a5a4a3;
  font-family: "Courier New", "Menlo";
  font-size: 0.875em;
  font-weight: 200;
}

.u-margin-bottom-3 {
  margin-bottom: 3em;
}

.u-margin-bottom-2 {
  margin-bottom: 2em;
}

.u-margin-bottom-1 {
  margin-bottom: 1em;
}

.button {
  display: inline-block;
  overflow: visible;
  margin: 0 0 0.625em 0;
  padding: 0 2em;
  height: 3em;
  border: 0;
  border-radius: 0.1875em;
  background: -webkit-linear-gradient(180deg, hsl(10, 98%, 67%) 1%, hsl(5, 98%, 67%) 100%);
  background: -webkit-linear-gradient(180deg, hsl(10, 98%, 67%) 1%, hsl(5, 98%, 67%) 100%);
  background: linear-gradient(180deg, hsl(10, 98%, 67%) 1%, hsl(5, 98%, 67%) 100%);
  font-weight: 200;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  font: inherit;
  font-size: 1em;
  line-height: 3em;
  cursor: pointer;
  transition: all .25s cubic-bezier(.645,.045,.355,1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  text-shadow: 0 1px 2px hsl(5, 98%, 67%);
  box-shadow:0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.button:hover {
  background: -webkit-linear-gradient(180deg, hsl(5, 98%, 67%) 1%, hsl(5, 98%, 67%) 100%);
  background: -webkit-linear-gradient(180deg, hsl(5, 98%, 67%) 1%, hsl(5, 98%, 67%) 100%);
  background: linear-gradient(180deg, hsl(5, 98%, 67%) 1%, hsl(5, 98%, 67%) 100%);
  box-shadow:0 4px 7px rgba(50,50,93,.16), 0 1px 4px rgba(0,0,0,.14);
}


/* Header */
header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header ul li {
  margin:0 1em;
  display: inline-flex;
}

header ul li a {
  font-weight: 400;
  color:#a5a4a3;
  text-decoration: none;
}

header ul li a:hover {
  color:#fd6658;
}


/* Wrapper */
.page-wrapper {
  padding:8em 1em;
}
.wrapper {
  margin: 0 4% 0 4%;
}

.u-text-center {
  text-align: center;
}


/* Grid */
.grid {
  display: flex;
  flex-direction: column;
}

.grid-item {
  display: flex;
  flex: 1;
  padding:0.5em;
}

.icon {
  flex: 1;
  background: #f4f3f1;
  color:#a5a4a3;
  border-radius: 0.1875em;
  padding:0.75em 0.5em;
}


/* Media Queries */
@media screen and (min-width: 40em) {
    .grid {
      flex-direction: row;
    }
    .wrapper {
      margin: 0 20% 0 20%;
    }
}
